// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #A1BD7F;
$lighter-green: #a0bc7f;
$dark-grey: #8B8B8B;
$darker-grey: #4f4f4f;



// couleurs légumes

$autres_aromates: #4B6838;
$aubergine: #82668C;
$basilic: #AEDC81;
$betterave: #7F1B2F;
$blette: #8D9D75;
$brocoli: #D2EB6E;
$carotte: #E86535;
$cebette: #EF6C38;
$celeri_branche: #EF6C38;
$celeri_rave: #EF6C38;
$chou_rave: #EF6C38;
$chou_blanc: #EF6C38;
$chou_de_bruxelles: #EF6C38;
$chou_chinois: #EF6C38;
$chou_kale: #EF6C38;
$chou_rouge: #843766;
$chou_vert_frise: #EF6C38;
$chou_fleur: #EF6C38;
$concombre: #EF6C38;
$coulis: #EF6C38;
$courge: #EF6C38;
$courgette: #E4EAAD;
$cresson: #EF6C38;
$echalote: #EF6C38;
$epinard: #EF6C38;
$fenouil: #EF6C38;
$feve: #EF6C38;
$fraise: #E83731;
$framboise: #C9314A;
$haricot_vert: #EF6C38;
$haricot_coco: #EF6C38;
$mache: #EF6C38;
$mais: #F9C546;
$mange_tout: #EF6C38;
$melon: #EF6C38;
$mesclun: #EF6C38;
$navet: #EF6C38;
$oignon: #EF6C38;
$panais: #EF6C38;
$patate_douce: #EF6C38;
$pdt_nouvelle: #EF6C38;
$persil: #EF6C38;
$petit_pois: #EF6C38;
$physalis: #EF6C38;
$poireau: #EF6C38;
$poivron: #CB2F2A;
$pourpier: #EF6C38;
$radis_noir: #EF6C38;
$radis_rose: #EF6C38;
$roquette: #EF6C38;
$salade: #EF6C38;
$tartinade: #EF6C38;
$tisane: #EF6C38;
$tomate: #F8C98E;
$tomate_ancienne: #F8C98E;
$tomate_cerise: #EF6C38;
