// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #A1BD7F;
$lighter-green: #a0bc7f;
$dark-grey: #8B8B8B;
$darker-grey: #4f4f4f;



// couleurs légumes

$ail: #BF8679;
$autres_aromates: #BF8679;
$aubergine: #8679BF;
$basilic: #BF79A1;
$betterave: #BA79BF;
$blette: #9779BF;
$brocoli: #797EBF;
$carotte: #79A1BF;
$cebette: #79BFBA;
$celeri_branche: #79BF7E;
$celeri_rave: #97BF79;
$chou_rave: #BABF79;
$chou_blanc: #BFA179;
$chou_de_bruxelles: #BF7E79;
$chou_chinois: #BF7997;
$chou_kale: #7997BF;
$chou_rouge: #79BABF;
$chou_vert_frise: #79BFA1;
$chou_fleur: #79BF7E;
$concombre: #97BF79;
$coulis: #BABF79;
$courge: #BF9A79;
$courgette: #BF797B;
$cresson: #BF799E;
$echalote: #BD79BF;
$epinard: #9A79BF;
$fenouil: #797BBF;
$feve: #BF7990;
$fraise: #BF79B3;
$framboise: #A879BF;
$haricot_vert: #8579BF;
$haricot_coco: #7990BF;
$mache: #79B3BF;
$mais: #BFA979;
$mange_tout: #BF8679;
$melon: #BF798F;
$mesclun: #BF79B2;
$navet: #A979BF;
$oignon: #8679BF;
$panais: #79BF7E;
$patate_douce: #97BF79;
$pdt_nouvelle: #BABF79;
$persil: #BFA179;
$petit_pois: #BF7E79;
$physalis: #BF7997;
$poireau: #799FBF;
$poivron: #79BFBC;
$pourpier: #79BF99;
$radis_noir: #7CBF79;
$radis_rose: #9FBF79;
$roquette: #BFBC79;
$salade: #79BF9C;
$tartinade: #79BF79;
$tisane: #9CBF79;
$tomate: #BFBF79;
$tomate_ancienne: #BF9C79;
$tomate_cerise: #BF7979;


// couleurs familles
$alliacees: #FF6600;
$apiacees: #99CC33;
$asteracees: #CC0000;
$brassicacees: #33CCFF;
$chenopodacees: #FFCC00;
$cucurbitacees: #660099;
$divers: #990000;
$fabacees: #006633;
$solanacees: #009999;
