<%= render 'shared/navbar' %>
<div class="container mt-4">
  <div class="commentaires-liste">
    <ul>
      <% @commentaires.sort.reverse.each do |commentaire| %>
        <% unless commentaire.description.empty? %>
          <li>
            <div class="date-commentaire"><%= commentaire.activite.date.strftime("%d/%m") %></div>
            <div class="contenu-commentaire"><%= commentaire.description %></div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
