<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('panier.jpg') %>)" >
  <div class="container">
    <%= link_to "Entrer", home_path, class: "btn btn-ghost" %>
  </div>
</div>
