<%= render 'shared/navbar-invites' %>
<div class="container mt-4">
  <div class="box-message">
    <div>Message : <%= @encouragement.message %></div>
    <div>Envoyé avec <i class="fas fa-heart"></i> par : <%= @encouragement.auteur %></div>
  </div>
</div>
