.wrapper-recap-temps {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-gap: 10px;
}

.wrapper-recap-activites {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.6fr 0.5fr 1.6fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 10px;
  padding-top: 4px;
}

.ligne-act {
  display: flex;
}

#chart-1 {
  margin-bottom: 150px;
}

.last-col-right {
  text-align: right;
}

.bilan-semaine {
  display: flex;
  justify-content: space-between;
}

.totaux-jour {
  width: 48%;
}
