.btn-ghost {
  color: white;
  border: 1px solid white;
  font-weight: lighter;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 24%;
  padding-top: 9%;
  padding-bottom: 9%;
  font-size: 36px;
  font-family: $body-font;
}

.btn-ghost:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  color: white;
}

.bouton-panier-vente {
  padding-left: 0px;
}

@media(max-width: 720px) {
  .btn-ghost {
    color: white;
    border: 1px solid white;
    font-weight: lighter;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 30vh;
    padding-top: 16%;
    padding-bottom: 16%;
    font-size: 36px;
    font-family: $body-font;
  }

  .btn-ghost:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    color: white;
  }
}

.plus-rond,
.save-rond,
.play-rond,
.stop-rond {
  height: 60px;
}

.petit-save-rond {
  height: 36px;
  display: flex;
  margin: 0 auto;
}

.stop-rond {
  z-index: 500;
}

@media(min-width: 456px) {
  .mobile-hidden {
    display: none !important;
  }
}

.bottom-button {
  display: flex;
  justify-content: center;
}

.voir-tout-recap {
  border: solid 2px $light-green;
  border-radius: 24px;
  padding: 4px 16px;
}

.panier-valide {
  border: solid 2px $dark-grey;
  border-radius: 24px;
  padding: 4px 16px;
  color: $dark-grey;
}

.valider-panier-img {
  height: 36px;
  margin-top: 12px
}

.voir-tout-recap-legumes {
  border: solid 2px $light-green;
  border-radius: 24px;
  padding: 4px 16px;
}

.fixed-bottom {
  height: 16vh;
  background-color: white;
}

button {
  border: none;
  background: none;
}
