.recherche-commentaires {
  margin-bottom: 40px;
  width: 332px;
  display: flex;
  margin-left: auto;
}

.wrapper-recap-commentaires {
  display: grid;
  grid-template-columns: 4vw 12vw 12vw 38vw;
  grid-gap: 10px;
}


.commentaires-liste-index {
  li {
    background: $light-gray;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
  }
  ul {
    margin-left: 4%;
    margin-right: 4%;
  }
}
