.search-week {
  font-size: 12px;
  width: 140px;
}

.search-week-field {
  display: flex;
}

.icon-search-week {
  margin-top: 14px;
  font-size: 14px;
  color: $light-green;
}

@media(max-width: 2000px) {

  .form-group {
  margin-top: 1%;
  color: $dark-grey;
  font-weight: 500;
  }

  .form-control {
    border: none;
    border-bottom: 2px solid $dark-grey;
    height: 40px;
  }

  textarea.form-control {
      height: 30px;
  }

  .container-form {
    padding-right: 54px;
    padding-left: 54px;
    margin-top: -4%;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;

  }

  .poivron {
    height: 90px;
    position: relative;
    left: 86%;
    bottom: 48px;
  }

  .celeri-branche {
    height: 200px;
    position: relative;
    left: 124%;
    bottom: 0px;
  }

  .select2-container {
    display: block !important;
  }

  .select2-selection--single {
    border: unset !important;
    border-bottom: 2px solid $dark-grey !important;
    height: 40px !important;
  }

  #activite_commentaires_attributes_0_description {
    height: 72px;
  }
}

@media(max-width: 456px) {
  .to_hide {
    display: none;
  }

  .form-group {
  margin-top: 32%;
  color: $dark-grey;
  font-weight: 500;
  }

  .form-control {
    border: none;
    border-bottom: 2px solid $dark-grey;
  }

  textarea.form-control {
      height: 30px;
  }

  .container-form {
    padding-right: 54px;
    padding-left: 54px;
  }

  .poivron {
    display: none;
  }

  #mobile-form {
    display: block;
  }

  #mobile-container {
    padding-bottom: 1rem;
  }

  #new-activite-running,
  #new-activite-finish {
    color: $dark-grey;
    font-size: 12px;
    text-align: center;
  }

  #save-button {
    height: 16vh;
    text-align: center;
  }
}

.form-control[readonly] {
    background-color: white;
}

.hidden {
  display: none;
}



#planche-new-activite {
  width: 90px;
}

.planche-with-binocular {
  display: flex;
}

.modal-content {
  width: 600px !important;
  height: 300px;
}

.modal-content-planches {
  height: unset;
  width: 762px !important;
}

.modal-content-prixge {
  width: 632px !important;
  height: unset;
}

.avertissement {
  font-style: italic;
  color: $lighter-green;
  font-size: 12px;
}
