#commentaire-home {
  font-size: 36px;
  color: $darker-grey;
}

#photo-home {
  font-size: 36px;
  color: $darker-grey;
}

.icones-home {
  display: flex;
  justify-content: space-between;
  width: 12%;
  margin-top: 24px;
}

.date-home {
  font-size: 48px;
  color: $darker-grey;
}

.barre-haut-home {
  display: flex;
  justify-content: space-between;
}

.box-oublier-home, .box-faire-home {
  border: solid 2px $light-green;
  border-radius: 8px;
  background: white;
  padding: 48px 24px 48px 24px;
  width: 28%;
}

.titre-oublier, .titre-faire {
  width: 28%;
  z-index: 1000;
}

.inner-title {
  width: fit-content;
  padding: 12px;
  background: $light-green;
  margin-left: 24px;
  color: white;
}

.box-recolter-home {
  position: relative;
  li {
    list-style: none;
  }
  border: solid 2px $light-green;
  padding: 24px 24px 12px 12px;
  width: 80%;
  border-radius: 8px;
  margin: 0px auto 0 auto;
  width: 40%;
}

.contenu-box-recolter-home {
  display: flex;
}

.inner-box-recolter-home {
  display: flex;
}

.boxes-oublier-faire-recolter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -24px;
}

.titres-boxes-oublier-faire-recolter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 48px;
}

.titre-recolter {
  width: 40%;
  z-index: 1000;
}

.fa-chevron-right {
  color: $light-green;
  margin-right: 12px;
}

.detail-memo {
  display: flex;
  justify-content: space-between;
}

.carousel-control-next-home {
  right: 34%;
  height: 60px;
  top: 49%;
  width: 60px;
}

.carousel-control-prev-home {
  left: 34%;
  height: 60px;
  top: 49%;
  width: 60px;
}

.carousel-control-next-home-faire {

  height: 60px !important;
  top: 49%;
  width: 60px !important;
}

.carousel-control-prev-home-faire {

  height: 60px !important;
  top: 49%;
  width: 60px !important;
}

.box-faire-home {
  position: relative;
  .carousel-control-next {
    position: relative;

  }
  .carousel-control-prev {
    position: relative;

  }
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -10px;
}

.carousel-controls-recolter {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 110%;
  left: -5%;
  bottom: 48px;
}


.tout-petit-plus-rond-home {
  position: fixed;
  top: 248px;
  height: 20px;
  z-index: 1000;
}

.ca-realise {
  margin: 60px 0 0 0;
  text-align: center;
}

.encouragements {
  text-align: center;
}

.description-memo {
  width: 70%;
}

.crayon-edit-memo-home {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.afaire-done:hover, .oublier-done:hover {
  cursor: pointer;
}

.separateur-ventes-afaire {
  border-top: 1px dotted $light-green;
}
// .all-memos-ne-pas-oublier {
//   border: solid 2px $light-green;
//   border-radius: 8px;
//   background: white;
//   padding: 48px 24px 24px 24px;
//   position: fixed;
//   width: 24%;
// }

// .all-memos-a-faire {
//   border: solid 2px $light-green;
//   border-radius: 8px;
//   background: white;
//   padding: 48px 24px 24px 24px;
//   position: fixed;
//   left: 78%;
//   width: 24%;
// }



// .memos-home {
//   position: absolute;
// }

// .ne-pas-oublier {
//   background-color: $light-green;
//   color: white;
//   width: fit-content;
//   padding: 12px 16px;
//   position: relative;
//   top: 24px;
//   left: 24%;
//   z-index: 10;
// }

// .a-faire {
//   background-color: $light-green;
//   color: white;
//   width: fit-content;
//   padding: 12px 16px;
//   position: relative;
//   top: 24px;
//   left: 24%;
//   z-index: 10;
// }




// #carouselarecolter-home {
//   position: fixed;
//   width: 36%;
//   left: 36%;
// }

// .box-recolter-hom {
//   li {
//     list-style: none;
//   }
//   border: solid 2px $light-green;
//   padding: 24px 24px 12px 12px;
//   width: 80%;
//   border-radius: 8px;
//   display: flex;
//   margin: 0px auto 0 auto;
// }

// .arecolter {
//     position: relative;
//     top: 24px;
//     left: 16%;
//     background-color: $light-green;
//     width: fit-content;
//     padding: 12px 16px;
//     z-index: 10;
//     color: white;
// }

