#meteo-widget {
  text-align: right;
}

.fa-cloud-sun {
  font-size: 40px;
  color: $darker-grey;
}

.box-meteo {
  display: flex;
  justify-content: center;
}

#commentaire-home {
  font-size: 36px;
  color: $darker-grey;
}

.icones-home {
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin-left: 80%;
}
