.cadres-paniers {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 12px;
}

.cadres-paniers-vente-point {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 12px;
}

.cadre-paniers {
  width: 100%;
  border: solid 2px $light-green;
  margin-top: 48px;
}

.cadre-paniers-pointvente {
  width: 100%;
  border: solid 2px $light-green;
  margin-top: 12px;
}

.titre-cadre-paniers {
  text-align: center;
  font-weight: bold;
  padding-top: 12px;
}

.valider-panier {
  margin: 0 auto;
}

.detail-paniers {
  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  padding: 16px;
}

.quantite-prix-legume-panier {
  display: flex;
  justify-content: space-between;
  width: 80%;
}


.total-panier {
  display: flex;
  justify-content: space-between;
  width: 48%;
  border-top: solid 2px gray;
  margin-top: 24px;
  padding-top: 24px;
}

.ecart-panier {
  display: flex;
  justify-content: space-between;
  width: 48%;
}

.panier-new-form {
  margin-top: 48px;
}

.anciens-paniers-img {
  width: 36px;
}

.anciens-paniers {
  margin-top: 24px;
}

.plus-rond-ligne {
  height: 24px;
}

.add-ligne {
  display: flex;
  justify-content: flex-end;
}

.panier-nom-legume {
  width: 50%;
}


.tous-paniers-index {
  margin-bottom: 200px;
}

.wrapper-paniers-index {
  display: grid;
  grid-template-columns: 8fr 6fr 0.2fr 0.2fr;
  grid-gap: 8px;
  text-align: end;
}

.toutes-dates-paniers {
  margin-top: 36px;
}

.fa-search {
  margin-left: 8px;
}

.vente-paniers-index-paniers {
  margin-top: 36px;
}
