.new-ligne-form {
  width: 50%;
  margin: 0 25%;
}

.pu-ligne-panier {
  display: flex;
  justify-content: space-between;
}

.prix-ge {
  display: grid;
  grid-template-columns: 16vw 8vw 8vw;
}

.box-recolter {
  li {
    list-style: none;
  }
  border: solid 2px $light-green;
  padding: 24px 24px 12px 12px;
  width: fit-content;
  border-radius: 8px;
  display: flex;
  margin: 0 0px 0 auto;
}

.recolte-img {
  height: 142px;
}

.modal-content-legumes {
  width: 720px !important;
}

.nom-legume-prixge {
  width: 300px;
}

.prixge-legume {
  width: 120px;
}

.unite-base-legume {
  width: 128px;
}

.panier_ligne_unite {
  width: 40%;
}
