.infos-ventes-planches {
  display: flex;
  justify-content: space-between;
  width: 56%;
}


.details-planches {
  display: flex;
  justify-content: space-between;
  width: 100%
}


.lignes-toutes-planches {
  li {
    background: $light-grey;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
  }
}

.nom-planche {
  width: 12%;
  text-align: left;
}

.colonnes-de-planches {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.planches-par-nom, .planches-par-ca {
  width: 40%;
  li {
    list-style: none;
    background-color: $light-grey;
    text-align: center;
    margin: 4px;
  }
}

#collapselegumes, #collapseplanches {
  padding: 8px 24px;
  background-color: white;
  text-align: left;
}

.fa-long-arrow-alt-right {
  color: $light-green;
}

.progress-planches {
  margin-top: 4px;
}

.diff-previ-ca {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.table-planches {
  width: 48%;
  border-collapse: collapse;
}

.progress-bar-planches {
  .td {
  border-top: none;
  }
}

.progress {
  background-color: $light-grey !important;
}
