.liste-pointsdevente {
  margin-top: 36px;
  li {
  background: $light-gray;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
}

.liste-toutes-ventes {
  margin-top: 36px;
  li {
  background: $light-gray;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
  ul {
    width: 50%;
  }
}

.wrapper-recap-pointsdevente {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.2fr;
  grid-gap: 10px;
}


.ligne-total {
  height: 0px;
  border-bottom: 2px solid $dark-grey;
  width: 72%;
  margin: 2% 0% 0 28%;
}

.parlieu-liste {
  margin-top: 36px;
}

.separateur-paniers-ventes {
  height: 12px;
  border-top: solid 2px $light-green;
  width: 50%;
  margin: 0 auto;
  margin-top: 32px;
}

.ventes-pointdevente {
  margin-top: 36px;
}
