.liste-pointsdevente {
  margin-top: 36px;
  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
}

.liste-toutes-ventes {
  margin-top: 36px;
  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
  ul {
    width: 50%;
  }
}

.wrapper-recap-pointsdevente {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.2fr;
  grid-gap: 10px;
}


.ligne-total {
  height: 0px;
  border-bottom: 2px solid $dark-grey;
  width: 68%;
  margin: 2% 12% 0 32%;
}

.parlieu-liste {
  margin-top: 36px;
}

.separateur-ventes {
  border-top: solid 1px $light-grey;
  width: 100%;
  margin: 16px auto;
}

.separateur-paniers-ventes {
  height: 12px;
  border-top: solid 2px $light-green;
  width: 50%;
  margin: 0 auto;
  margin-top: 32px;
}

.separateur-ventes-index {
  height: 12px;
  border-top: solid 2px $light-green;
  width: 50%;
  margin: -8% auto 0 auto;
}

.ventes-pointdevente {
  margin-top: 36px;
}

.infos-point-de-vente {
  border: solid 2px $light-green;
  border-radius: 8px;
  width: 30%;
  margin: 36px auto;
  padding: 16px;
}

.vente-paniers {
  padding-left: 8%;
}

.nouvelle-vente-item {
  width: 40%;
}

.adresse-point-de-vente {
  padding-left: 8%;
}

.fa-envelope {
  margin-right: 8px;
}


.graphs-pv {
  margin-bottom: 200px;
}

.bouton-commentaire-liste-ventes {
  padding-left: 0px;
}

.petit-plus-rond-vente-point {
  height: 30px;
  margin: 8px 0% 8px 94%;
  display: flex;
}
