.wrapper-ligne-vente {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 2fr 2fr;
  flex-grow: 1;
  padding-left: 16px;
}

.wrapper-ligne-vente-arrondi {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 2.5fr 0.5fr 2fr 2fr;
  flex-grow: 1;
  padding-left: 16px;
}

.wrapper-ligne-vente-titre {
  background-color: $light-grey;
  padding: 4px 0 4px 16px;
  margin-bottom: 8px;
}

.ligne-titre-vente {
  ul {
      list-style: none;
  }
}

.bouton-ajout-ligne {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -32px;
  margin-top: 24px;
}

hr {
  border-top: 2px solid $dark-grey;
  margin-top: 2%;
  width: 32%;
}

.ligne-total-vente {
  font-weight: 500;
}

.titres-vente {
  display: flex;
}

.petit-plus-rond {
  height: 30px;
}

.tout-petit-plus-rond {
  height: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.bouton-tout-petit-plus-rond {
  padding-left: 2px;
}

.panier-plus {
  height: 30px;
  margin-left: 24px;
}

.right-col-new-ligne {
  width: 50%;
  margin-left: 2%;
  display: flex;
  justify-content: space-evenly;
}

.new-ligne {
  display: flex;
}


.fa-binoculars {
  font-size: 24px;
  margin-left: 8%;
  color: $dark-grey;
}

.plancheselect {
  display: flex;
}

.composer-panier {
  height: 60px;
  margin-top: -30px;
  margin-left: 36px;
}

.liste-detail-panier-vente {
  margin-bottom: 24px;
  color: $dark-grey;
}

.choix-planche-panier {
  button {
    color: $dark-grey;
  }
}

.update-planche-modal {
  color: $grey;
  outline: none;
  border: none;
  background: content-box;
}

.small-modal-montant-regle {
  position: fixed !important;
  top: 342px !important;
  left: 75% !important;
}

.small-modal-montant-arrondi {
  position: fixed !important;
  top: 318px !important;
  left: 75% !important;
}

.small-modal-montant-regle-content, .small-modal-montant-arrondi-content {
  width: 200px !important;
  height: 200px !important;
}

.bouton-montant-regle, .bouton-montant-arrondi {
  padding-left: 0px;
}

.panier-engagement-show {
  height: 18px;
  margin-left: 4px;
}

.commentaires-show-vente {
  margin-top: 24px;
  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 4px;
  height: 36px;
  }
}
