.wrapper-ligne-vente {
  display: grid;
  grid-template-columns: 14% 12% 12% 12% 12% 12% 12% 12%;
}

.ligne-titre-vente {
  ul {
      list-style: none;
  }
}

hr {
  border-top: 2px solid $dark-grey;
  margin-top: 2%;
  margin-right: 4%;
  width: 26%;
}

.ligne-total-vente {
  font-weight: 500;
}
