.top-title-img {
  display: flex;
  justify-content: space-between;
}

.icone-legume-show {
  height: 96px;
}

.recap-show-legume {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}

.col-show-leg {
  width: 24%;
  background-color: #F4F4F4;
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  ul {
    margin-bottom: 0;
    li {
      padding-top: 0;
    }
  }
}

.planche-sem-title {
  color: white;
}

.photos-show {
  overflow: hidden;
}

.table-data {
  width: 88%;
  overflow: scroll;
}

.date-photo {
  text-align: center;
}

#chart-legume {
  margin: 0 auto !important;
}

.hidden {
  display: none !important;
}

.table-show-legume-vente {
  width: 76%;
  overflow-x: scroll;
  margin: 0 auto;
  display: flex;
}

.table-show-legume, .table-show-legume-titre {
  table-layout: auto;
  td {
    padding: 16px;
    text-align: center;
  }
  th {
    padding-bottom: 16px;
    text-align: center;
  }
}

.table-show-legume-titre {
  width: 14%;
}

.recap-donnee {
  ul {
    margin-bottom: 0 !important;
  }
  li {
    padding-top: 0 !important;
    text-align: right;
  }
}

.recap-show-middle {
  display: flex;
  background-color: #F4F4F4;
  justify-content: space-between;
  width: 30%;
  padding: 2px 16px;
  height: fit-content;
}

.wrapper-commentaires-show {
  display: grid;
  grid-template-columns: 6vw 52vw;
}

.title-show-legume {
  font-size: 16px;
  margin-left: 8px;
}

.photos-show-legume {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 24vw);
  grid-gap: 15px;
  margin: 40px;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#graph-legume, #tableau-legume {
  width: fit-content;
}

#graph-legume:hover, #tableau-legume:hover {
  font-style: italic;
  cursor: pointer;
}

.icones-graph-tableau {
  display: flex;
  width: 100px;
  justify-content: space-around;
  font-size: 24px;
  color: $light-grey2;
  margin: 0 auto -8px;
}

.toutes-activites-show-legume {
  margin-top: -24px;
  margin-bottom: 48px;
  li {
  list-style: none;
  padding-top: 4px;
  }
  .wrapper-recap-activites {
  background: $light-grey;
  width: 96%;
  padding-left: 16px;
  }
}
