.nav-pills {
  .nav-link {
  color: $darker-grey;
  background-color: white;
  border-bottom: solid 2px $light-green;
  }
}

.nav-pills {
  .nav-link.active {
  color: $darker-grey;
  background-color: white;
  border-bottom: solid 2px $darker-grey;
  }
}

.nav-item-show {
  width: 160px;
  text-align: center;
}

.tab-content {
  .parlieu-liste {
    width: 40%;
    margin: 2% 30%;
  }
}

.tab-content {
  .parsemaine-liste, .parmois-liste {
    width: 50%;
    margin: 2% 25%;
  }
  .parlieu-liste {
    width: 80%;
    margin: 2% 10%;
  }
  .actions-liste {
    width: 50%;
    margin: 2% 25%;
  }
  .commentaires-liste {
    width: 100%;
    margin: 2% 0%;
  }
}



.parsemaine-liste, .actions-liste, .parmois-liste {
  li {
    background: $light-gray;
    list-style: none;
    padding-left: 16px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
    padding-top: 8px;
    height: 36px;
  }
}

.wrapper-activites-show {
  display: grid;
  grid-template-columns: 6vw 20vw 7vw 9vw 4vw;
  grid-gap: 10px;
}

.toutes-activites-show {
  margin-top: -24px;
  li {
  list-style: none;
  padding-top: 4px;
  }
  .wrapper-recap-activites {
  background: $light-gray;
  width: 96%;
  padding-left: 16px;
  }
}

