.tous-legumes {
  display: flex;
  margin-top: 36px;
}

.liste-legume {
  width: 50%;
  li {
    background: $light-gray;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
  }
}

.commentaires-liste {
  li {
    background: $light-gray;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
  }
}

.parlieu-liste {
  li {
    background: $light-gray;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
  }
}


.radis {
  height: 72px;
  position: relative;
  left: 90%;
  bottom: 48px;
}

.aubergine {
  height: 72px;
  position: relative;
  left: 85%;
  transform: rotate(246deg);
  top: 48px;
}

.oignon {
  height: 62px;
  position: relative;
  left: 65%;
  bottom: 42px;
  transform: rotate(332deg);
}

.img-legumes {
  height: 0px;
}


.date-commentaire {
  width: 16%;
}

.green-comment {
  color: green;
}

.lignes-planche {
  li {
    border: 1px $light-gray solid;
    text-align: center;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
  }
}

.ligne-planche {
  flex-grow: 1;
}

.wrapper-legumes {
  display: grid;
  grid-template-columns: 12vw 7vw 6vw 7vw 1vw;
  grid-gap: 10px;
}

.planche-nom {
  display: contents;
}

.autres_aromates-bg-color {
  background-color: $autres_aromates;
}

.aubergine-bg-color {
  background-color: $aubergine;
}

.basilic-bg-color {
  background-color: $basilic;
}

.betterave-bg-color {
  background-color: $betterave;
}

.blette-bg-color {
  background-color: $blette;
}

.brocoli-bg-color {
  background-color: $brocoli;
}

.carotte-bg-color {
  background-color: $carotte;
}

.cebette-bg-color {
  background-color: $cebette;
}

.celeri_branche-bg-color {
  background-color: $celeri_branche;
}

.celeri_rave-bg-color {
  background-color: $celeri_rave;
}

.chou_rave-bg-color {
  background-color: $chou_rave;
}

.chou_blanc-bg-color {
  background-color: $chou_blanc;
}

.chou_de_bruxelles-bg-color {
  background-color: $chou_de_bruxelles;
}

.chou_chinois-bg-color {
  background-color: $chou_chinois;
}

.chou_kale-bg-color {
  background-color: $chou_kale;
}

.chou_rouge-bg-color {
  background-color: $chou_rouge;
}

.chou_vert_frise-bg-color {
  background-color: $chou_vert_frise;
}

.chou_fleur-bg-color {
  background-color: $chou_fleur;
}

.concombre-bg-color {
  background-color: $concombre;
}

.coulis-bg-color {
  background-color: $coulis;
}

.courge-bg-color {
  background-color: $courge;
}

.courgette-bg-color {
  background-color: $courgette;
}

.cresson-bg-color {
  background-color: $cresson;
}

.echalote-bg-color {
  background-color: $echalote;
}

.epinard-bg-color {
  background-color: $epinard;
}

.fenouil-bg-color {
  background-color: $fenouil;
}

.feve-bg-color {
  background-color: $feve;
}

.fraise-bg-color {
  background-color: $fraise;
}

.framboise-bg-color {
  background-color: $framboise;
}

.haricot_vert-bg-color {
  background-color: $haricot_vert;
}

.haricot_coco-bg-color {
  background-color: $haricot_coco;
}

.mache-bg-color {
  background-color: $mache;
}

.mais-bg-color {
  background-color: $mais;
}

.mange_tout-bg-color {
  background-color: $mange_tout;
}

.melon-bg-color {
  background-color: $melon;
}

.mesclun-bg-color {
  background-color: $mesclun;
}

.navet-bg-color {
  background-color: $navet;
}

.oignon-bg-color {
  background-color: $oignon;
}

.panais-bg-color {
  background-color: $panais;
}

.patate_douce-bg-color {
  background-color: $patate_douce;
}

.pdt_nouvelle-bg-color {
  background-color: $pdt_nouvelle;
}

.persil-bg-color {
  background-color: $persil;
}

.petit_pois-bg-color {
  background-color: $petit_pois;
}

.physalis-bg-color {
  background-color: $physalis;
}

.poireau-bg-color {
  background-color: $poireau;
}

.poivron-bg-color {
  background-color: $poivron;
}

.pourpier-bg-color {
  background-color: $pourpier;
}

.radis_noir-bg-color {
  background-color: $radis_noir;
}

.radis_rose-bg-color {
  background-color: $radis_rose;
}

.roquette-bg-color {
  background-color: $roquette;
}

.salade-bg-color {
  background-color: $salade;
}

.tartinade-bg-color {
  background-color: $tartinade;
}

.tisane-bg-color {
  background-color: $tisane;
}

.tomate-bg-color {
  background-color: $tomate;
}

.tomate_ancienne-bg-color {
  background-color: $tomate_ancienne;
}

.tomate_cerise-bg-color {
  background-color: $tomate_cerise;
}


.autres_aromates-color {
  color: $autres_aromates;
}

.aubergine-color {
  color: $aubergine;
}

.basilic-color {
  color: $basilic;
}

.betterave-color {
  color: $betterave;
}

.blette-color {
  color: $blette;
}

.brocoli-color {
  color: $brocoli;
}

.carotte-color {
  color: $carotte;
}

.cebette-color {
  color: $cebette;
}

.celeri_branche-color {
  color: $celeri_branche;
}

.celeri_rave-color {
  color: $celeri_rave;
}

.chou_rave-color {
  color: $chou_rave;
}

.chou_blanc-color {
  color: $chou_blanc;
}

.chou_de_bruxelles-color {
  color: $chou_de_bruxelles;
}

.chou_chinois-color {
  color: $chou_chinois;
}

.chou_kale-color {
  color: $chou_kale;
}

.chou_rouge-color {
  color: $chou_rouge;
}

.chou_vert_frise-color {
  color: $chou_vert_frise;
}

.chou_fleur-color {
  color: $chou_fleur;
}

.concombre-color {
  color: $concombre;
}

.coulis-color {
  color: $coulis;
}

.courge-color {
  color: $courge;
}

.courgette-color {
  color: $courgette;
}

.cresson-color {
  color: $cresson;
}

.echalote-color {
  color: $echalote;
}

.epinard-color {
  color: $epinard;
}

.fenouil-color {
  color: $fenouil;
}

.feve-color {
  color: $feve;
}

.fraise-color {
  color: $fraise;
}

.framboise-color {
  color: $framboise;
}

.haricot_vert-color {
  color: $haricot_vert;
}

.haricot_coco-color {
  color: $haricot_coco;
}

.mache-color {
  color: $mache;
}

.mais-color {
  color: $mais;
}

.mange_tout-color {
  color: $mange_tout;
}

.melon-color {
  color: $melon;
}

.mesclun-color {
  color: $mesclun;
}

.navet-color {
  color: $navet;
}

.oignon-color {
  color: $oignon;
}

.panais-color {
  color: $panais;
}

.patate_douce-color {
  color: $patate_douce;
}

.pdt_nouvelle-color {
  color: $pdt_nouvelle;
}

.persil-color {
  color: $persil;
}

.petit_pois-color {
  color: $petit_pois;
}

.physalis-color {
  color: $physalis;
}

.poireau-color {
  color: $poireau;
}

.poivron-color {
  color: $poivron;
}

.pourpier-color {
  color: $pourpier;
}

.radis_noir-color {
  color: $radis_noir;
}

.radis_rose-color {
  color: $radis_rose;
}

.roquette-color {
  color: $roquette;
}

.salade-color {
  color: $salade;
}

.tartinade-color {
  color: $tartinade;
}

.tisane-color {
  color: $tisane;
}

.tomate-color {
  color: $tomate;
}

.tomate_ancienne-color {
  color: $tomate_ancienne;
}

.tomate_cerise-color {
  color: $tomate_cerise;
}






