.titre-planches-index-leg {
  height: 30px;
  margin: -10px -7px 0px;
}

.tous-legumes {
  display: flex;
}

.tous-legumes-ca {
  display: flex;
}

.tri-legume {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 36%;
  justify-content: space-between;
}

.tous-legumes-modal {
  display: flex;
  margin-top: 36px;
  justify-content: center;
}

.liste-legume {
  width: 50%;
  li {
    height: 30px;
    background: $light-grey;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
  }
}

.liste-legume-modal {
  width: 48%;
  li {
    height: 30px;
    background: $light-grey;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
  }
}

.commentaires-liste {
  overflow: scroll;
  li {
    background: $light-grey;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
    height: unset;
  }
  ul {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.photos-liste {
  margin: auto;
}

.parlieu-liste {
  li {
    background: $light-grey;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
  }
}

.parlieu-liste-vente-point {
  li {
    background: $light-grey;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
  }
}


.radis {
  height: 72px;
  position: relative;
  left: 90%;
  bottom: 48px;
}

.aubergine {
  height: 72px;
  position: relative;
  left: 85%;
  transform: rotate(246deg);
  top: 48px;
}

.oignon {
  height: 62px;
  position: relative;
  left: 65%;
  bottom: 42px;
  transform: rotate(332deg);
}

.img-legumes {
  height: 0px;
}


.date-commentaire {
  width: 75px;
}

.contenu-commentaire {
  width: 80%;
  margin-left: 12%;
}

.green-comment {
  color: green;
}

.lignes-planche {
  li {
    border: 1px $light-grey solid;
    text-align: center;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
  }
}

.ligne-planche {
  flex-grow: 1;
}

.wrapper-legumes {
  display: grid;
  grid-template-columns: 15vw 4vw 6vw 5vw 1.5vw 2vw;
  grid-gap: 10px;
}

.modal-commentaires-index-legumes {
  height: 300px;
}

.planche-nom {
  display: contents;
}


.alliacees-bg-color {
  background-color: $alliacees;
}
.apiacees-bg-color {
  background-color: $apiacees;
}
.asteracees-bg-color {
  background-color: $asteracees;
}
.brassicacees-bg-color {
  background-color: $brassicacees;
}
.chenopodacees-bg-color {
  background-color: $chenopodacees;
}
.cucurbitacees-bg-color {
  background-color: $cucurbitacees;
}
.divers-bg-color {
  background-color: $divers;
}
.fabacees-bg-color {
  background-color: $fabacees;
}
.solanacees-bg-color {
  background-color: $solanacees;
}

.alliacees-color {
  color: $alliacees;
}
.apiacees-color {
  color: $apiacees;
}
.asteracees-color {
  color: $asteracees;
}
.brassicacees-color {
  color: $brassicacees;
}
.chenopodacees-color {
  color: $chenopodacees;
}
.cucurbitacees-color {
  color: $cucurbitacees;
}
.divers-color {
  color: $divers;
}
.fabacees-color {
  color: $fabacees;
}
.solanacees-color {
  color: $solanacees;
}

#chart-legume-semaine {
  width: 100% !important;
}

.planches-legumes-index {
  overflow-y: scroll;
}

.work-img {
  height: 30px;
  margin-top: -8px;
  margin-left: 6px;
}

.table-index-legume-vente {
  width: 100%;
  overflow-x: scroll;
  margin: 0 auto;
  display: flex;
}

.table-index-legume-titre {
  width: 22%;
  table-layout: auto;
  td {
    padding: 16px;
    text-align: center;
  }
  th {
    padding-bottom: 16px;
    text-align: center;
  }
}

#par-sem-legume, #par-nom-legume, #par-ca-legume {
  cursor: pointer;
}

#par-sem-legume:hover, #par-nom-legume:hover, #par-ca-legume:hover {
  font-style: italic;
}
