.toutes-activites {
  margin-bottom: 32px;
  li {
  list-style: none;
  padding-top: 4px;
  }
  .wrapper-recap-activites {
  background: $light-grey;
  width: 96%;
  padding-left: 16px;
  padding-right: 16px;
  }
}

.durees-activites-legumes {
  display: flex;
  justify-content: space-between;
}

.toutes-activites-recap {
  margin-top: 24px;
  margin-bottom: 32px;
  height: 25vh;
  overflow: scroll;
  li {
  list-style: none;
  padding-top: 4px;
  }
  .wrapper-recap-activites {
  background: $light-grey;
  width: 96%;
  padding-left: 16px;
  padding-right: 16px;
  }
}

.duree-activites {
  margin-top: 24px;

  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
  ul {
    width: 92%;
  }
}

.duree-legumes-index-activites {
  margin-top: -100px;
  margin-bottom: 32px;
  margin-right: 42px;
  width: 28%;
  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
  ul {
    height: 252px;
    overflow: scroll;
  }
}

.img-tomate-index-activites {
  height: 60px;
  position: absolute;
  left: 50%;
}

.img-petitpois-index-activites {
  height: 70px;
  position: absolute;
  left: 58%;
  top: 71%;
  transform: rotate(45deg);
}

.img-melon-index-activites {
  height: 55px;
  position: absolute;
  left: 54%;
  top: 92%;
}

.duree-legumes {
  display: flex;
  justify-content: space-between;
}

.duree-activites-index {
  width: 40%;
  margin-top: -100px;
  margin-bottom: 32px;

  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
  ul {
    width: 100%;
  }
}

.ligne-activite {
  display: flex;
  padding-right: 16px;
}


.commentaire-all-activites {
  height: 24px;
  text-align: right;
}

.photo-all-activites {
  height: 24px;
  text-align: right;
}


.crayon-edit {
  padding-left: 8px;
}
