.toutes-activites {
  margin-top: 24px;
  margin-bottom: 32px;
  li {
  list-style: none;
  padding-top: 4px;
  }
  .wrapper-recap-activites {
  background: $light-grey;
  width: 96%;
  padding-left: 16px;
  padding-right: 16px;
  }
}

.toutes-activites-recap {
  height: 25vh;
  overflow: scroll;
}

.duree-activites {
  margin-top: 24px;

  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
  ul {
    width: 92%;
  }
}

.duree-activites-index {
  margin-top: 24px;
  margin-bottom: 32px;

  li {
  background: $light-grey;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-bottom: 4px;
  }
  ul {
    width: 50%;
  }
}

.ligne-activite {
  display: flex;
  padding-right: 16px;
}


.commentaire-all-activites {
  height: 24px;
  text-align: right;
}

.photo-all-activites {
  height: 24px;
  text-align: right;
}


.crayon-edit {
  padding-left: 8px;
}
