.tous-legumes {
  display: flex;
  margin-top: 36px;
}

.liste-legume {
  width: 50%;
  li {
    background: $light-gray;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
  }
}

.modal-body {
  li {
    background: $light-gray;
    list-style: none;
    padding-left: 16px;
    padding-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: unset;
    padding-right: 16px;
  }
}


.radis {
  height: 72px;
  position: relative;
  left: 90%;
  bottom: 48px;
}

.aubergine {
  height: 72px;
  position: relative;
  left: 85%;
  transform: rotate(246deg);
  top: 48px;
}

.oignon {
  height: 62px;
  position: relative;
  left: 65%;
  bottom: 42px;
  transform: rotate(332deg);
}

.img-legumes {
  height: 0px;
}

.commentaire-all-legumes {
  position: sticky;
  left: 90%;
}

.date-commentaire {
  width: 16%;
}

.legume-nom {
  width: 40%;
}

.lignes-planche {
  li {
    border: 1px lightgrey solid;
    text-align: center;
    margin-bottom: 1px;
  }
}



.autres_aromates-color {
  background-color: #4B6838;
}

.aubergine-color {
  background-color: #82668C;
}

.basilic-color {
  background-color: #AEDC81;
}

.betterave-color {
  background-color: #7F1B2F;
}

.blette-color {
  background-color: #8D9D75;
}

.brocoli-color {
  background-color: #D2EB6E;
}

.carotte-color {
  background-color: #E86535;
}

.cebette-color {
  background-color: #EF6C38;
}

.celeri_branche-color {
  background-color: #EF6C38;
}

.celeri_rave-color {
  background-color: #EF6C38;
}

.chou_rave-color {
  background-color: #EF6C38;
}

.chou_blanc-color {
  background-color: #EF6C38;
}

.chou_de_bruxelles-color {
  background-color: #EF6C38;
}

.chou_chinois-color {
  background-color: #EF6C38;
}

.chou_kale-color {
  background-color: #EF6C38;
}

.chou_rouge-color {
  background-color: #843766;
}

.chou_vert_frise-color {
  background-color: #EF6C38;
}

.chou_fleur-color {
  background-color: #EF6C38;
}

.concombre-color {
  background-color: #EF6C38;
}

.coulis-color {
  background-color: #EF6C38;
}

.courge-color {
  background-color: #EF6C38;
}

.courgette-color {
  background-color: #E4EAAD;
}

.cresson-color {
  background-color: #EF6C38;
}

.echalote-color {
  background-color: #EF6C38;
}

.epinard-color {
  background-color: #EF6C38;
}

.fenouil-color {
  background-color: #EF6C38;
}

.feve-color {
  background-color: #EF6C38;
}

.fraise-color {
  background-color: #E83731;
}

.framboise-color {
  background-color: #C9314A;
}

.haricot_vert-color {
  background-color: #EF6C38;
}

.haricot_coco-color {
  background-color: #EF6C38;
}

.mache-color {
  background-color: #EF6C38;
}

.mais-color {
  background-color: #F9C546;
}

.mange_tout-color {
  background-color: #EF6C38;
}

.melon-color {
  background-color: #EF6C38;
}

.mesclun-color {
  background-color: #EF6C38;
}

.navet-color {
  background-color: #EF6C38;
}

.oignon-color {
  background-color: #EF6C38;
}

.panais-color {
  background-color: #EF6C38;
}

.patate_douce-color {
  background-color: #EF6C38;
}

.pdt_nouvelle-color {
  background-color: #EF6C38;
}

.persil-color {
  background-color: #EF6C38;
}

.petit_pois-color {
  background-color: #EF6C38;
}

.physalis-color {
  background-color: #EF6C38;
}

.poireau-color {
  background-color: #EF6C38;
}

.poivron-color {
  background-color: #CB2F2A;
}

.pourpier-color {
  background-color: #EF6C38;
}

.radis_noir-color {
  background-color: #EF6C38;
}

.radis_rose-color {
  background-color: #EF6C38;
}

.roquette-color {
  background-color: #EF6C38;
}

.salade-color {
  background-color: #EF6C38;
}

.tartinade-color {
  background-color: #EF6C38;
}

.tisane-color {
  background-color: #EF6C38;
}

.tomate-color {
  background-color: #F8C98E;
}

.tomate_ancienne-color {
  background-color: #F8C98E;
}

.tomate_cerise-color {
  background-color: #EF6C38;
}
















