a {
  text-decoration: none;
  color: inherit;
  outline: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h2 {
  color: $darker-grey;
  font-size: 20px;
}

ul {
  padding: 0px;
}

h3 {
  font-size: 18px;
  padding-left: 32px;
  margin-bottom: 16px;
}

button {
  outline: none;
}

input {
  outline: none;
}
